.preview-blog-container {
  section {
    padding: var(--space-xl);
    margin: 0 auto;
    margin-top: 0 !important;
  }
  p {
    font-size: var(--text-lg);
    font-weight: 100;
    line-height: 1.5;
    color: var(--text-secondary);
  }
  h1 {
    margin-bottom: var(--space-sm);
  }
  h1,
  h2,
  h3,
  h4 {
    padding: var(--space-sm) 0;
  }

  h3 {
    font-size: var(--text-2xl);
    padding: var(--space-sm) 0;
  }
  ul,
  ol {
    padding: var(--space-sm);
  }
}

.editor-blog-preview {
  section {
    margin-top: calc(var(--space-2xl) * 2) !important;
  }
}
